@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root{
    --primaryFont: 'Space Mono', monospace;
    --titlesColor: #5E7A7D;
    --numbersColor: #00474B;
    --inputColor: #F3F9FA;
}
.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    width: 100%;
    height: 100vh;
    background-color: #C5E4E7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculatorDiv{
    width: 920px;
    height: 481px;
    background-color: white;
    border-radius: 20px;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;  
}
.calculatorDiv .leftSide{
    width: 379px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* padding: 0 48px; */
}
.calculatorDiv .leftSide .bottomSide,
.calculatorDiv .leftSide .topSide{
    width: 379px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.calculatorDiv .leftSide .middleSide h3,
.calculatorDiv .leftSide .bottomSide div label,
.calculatorDiv .leftSide .topSide label{
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size: 1rem;
    line-height: 23.7px;
    text-transform: capitalize;
    color: var(--titlesColor);
}
.calculatorDiv .leftSide .bottomSide input,
.calculatorDiv .leftSide .topSide input{
    width: 379px;
    height: 48px;
    background-color: #F3F9FA;
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 35.54px;
    color: var(--numbersColor);
    text-align: right;
    padding-right: 15px;
    border-width: 0px;
    border-radius: 5px;
    outline: none;
}
.calculatorDiv .leftSide .bottomSide input:focus,
.calculatorDiv .leftSide .topSide input:focus{
    border: 1px solid #26C2AE;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 
.calculatorDiv .leftSide .bottomSide div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calculatorDiv .leftSide .bottomSide div p{
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size: 1rem;
    line-height: 23.7px;
    color: #E17457;
    display: none;
}
.calculatorDiv .leftSide .middleSide{
    width: 379px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.calculatorDiv .leftSide .middleSide .tipsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
}
.calculatorDiv .leftSide .middleSide .tipsDiv button{
    width: 117px;
    height: 48px;
    background-color: #00474B;
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 35.54px;
    color: white;
    border-width: 0px;
    border-radius: 5px;
}
.calculatorDiv .leftSide .middleSide .tipsDiv button:hover{
    background-color: #9FE8DF;
    color: var(--numbersColor);
}
.calculatorDiv .leftSide .middleSide .tipsDiv input{
    width: 118px;
    height: 48px;
    background-color: #F3F9FA;
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 35.54px;
    color: var(--numbersColor);
    text-align: center;
    border-width: 0px;
    outline: none;
    border-radius: 5px;
}
.calculatorDiv .leftSide .middleSide .tipsDiv input:focus{
    border: 1px solid #26C2AE;
}

.calculatorDiv .rightSide{
    width: 413px;
    height: 417px;
    background-color: var(--numbersColor);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 100px;
}
.calculatorDiv .rightSide .results{
    width: 333px;
    display: flex;
    flex-direction: column;
    gap: 41px;
}
.calculatorDiv .rightSide .results div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calculatorDiv .rightSide .results div p{
    font-family: var(--primaryFont);
    font-weight: 700;
    font-size: 1rem;
    line-height: 23.7px;
    text-transform: capitalize;
    color: white;
}
.calculatorDiv .rightSide .results div p span{
    font-size: 0.813rem;
    line-height: 19.25px;
    color: #7F9D9F;
}
.calculatorDiv .rightSide .results div h3{
    font-family: var(--primaryFont);
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -1px;
    text-align: right;
    color: #26C2AE;
}
.calculatorDiv .rightSide button{
    width: 333px;
    height: 48px;
    border-radius: 7px;
    border-width: 0px;
    background-color: #26C2AE;
    font-family: Space Mono;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--numbersColor);
    text-transform: uppercase;
    outline: none;
}
.calculatorDiv .rightSide button:hover{
    background-color: #9FE8DF;
}
input,
button{
    cursor: pointer;
}

.tipsClicked{
    background-color: #26C2AE !important;
    color: #00474B !important;
}